#btncontact {
    top: 550px;
    width: 108px;
    height: 30px;
}
#btnknow{
    top: 550px;
    width: 108px;
    height: 30px;
    left: 178px;
}

#pic img{
    right: -186px;
    opacity: 0.5;
}


    /* The end  */
      /* thank you for watching    */
