body {
    cursor: none;
}

#btncontact {
    top: 550px;
    width: 108px;
    height: 30px;
}
#btnknow{
    top: 550px;
    width: 108px;
    height: 30px;
    left: 178px;
}

#pic img{
    right: -186px;
    opacity: 1;
}

    .box {
    width: 300px;
    height: 300px;
}

}
    .foobar {
    width: 100%;
    top: 750px;
}

#container{
    width: 100%;
    height: 100vh;
}
