/*           Importing Some Google Font links             */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Righteous&display=swap');


    @import url('https://fonts.googleapis.com/scc?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #000000;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}

.box:hover {
    height: 400px;
}

.box .img8x {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box .img8x img {
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}

.box:hover .img8x img {
    opacity: 1;
}
.box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}

.box:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.box:before,
.box:after {
    background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}

.box:nth-child(2):before,
.box:nth-child(2):after {
    background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}

.box:nth-child(3):before,
.box:nth-child(3):after {
    background: linear-gradient(235deg,#772aff,#010615,#2196F3);
}

.box .content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;

}

.box:hover .content {
    opacity: 1;
}

.box .content h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;

}

.box .content h2 {
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

body{
    background-color: black;
    
}

#container{
    position: absolute;
    width: 100%;
    height: 100vh;
}

/* Styling navigation menu    */
.navbar{
    position: absolute;
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: center;
    
}

#nav{
    position: absolute;
    top: 6px;
}
#nav ul{
    display: flex;
    width: 100%;

}

#nav ul li{
    position: relative;
    list-style: none;
    margin-top: 7px;
    margin-inline: 12px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    width: 100%;
}
#nav ul li a{
    text-decoration: none;
    letter-spacing: 0.5px;
    color: #a0a0a0;
    
}




    /* animation of side bar navigation menu links      */
@keyframes navlinkfade{
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
    /* creating animated cyan color underline on navigation links    */
#nav ul li a:after{
    content: "";
    position: absolute;
    background-color: cyan;
    height: 0.5px;
    width: 0;
    left: 0;
    top: 20px;
    transition: 0.3s;
    z-index: 4;
}
#nav ul li a:hover{
    color: white;
}

#nav ul li a:hover:after{
    width:100%;
}

.nvg{
    color: white!important;
}
.nvg:after{
    content: ""!important;
    position: absolute!important;
    background-color: cyan!important;
    height: 0.5px!important;
    width: 100%!important;
    left: 0!important;
    top: 20px!important;
}

#box1{
    position: absolute;
    top: 250px;
    left: 45px;
    color: white;
    z-index: 4;
}

    /* Social media icons styling   */
#vl {
    position: absolute;
    top: 2px;
    z-index: 4;
    right: 31px;
    width: 1px;
    height: 144px;
    background-color: cyan;
  
}

#follow{
    position:absolute;
    top: 162px;
    right: 13px;
    z-index: 4;
   
}

#follow i{
    font-size: 33px;
    color: white;
    margin-bottom: 22px;
}

#follow i:hover{
    color: tomato;

}

   /* Information box  */
#hello{
    position: relative;
    left: 3px;
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    
}
#me{
    position: relative;
    top: -5px;
    left: 0;
    font-size: 37px;
    font-family: 'Lato', sans-serif;
    

}
#rks{
    color: cyan;
}

#rks:hover{
    color: tomato;
}
#webdev {
    position: relative;
    top: -15px;
    color: #565656;
    opacity: 0.4;
    font-size: 70px;
    font-weight: bolder;
    font-stretch: ultra-expanded;
    font-family: 'Righteous', cursive;
   
}

#pic img {
    position: absolute;
    top: 86px;
    right: 32px;
    width: 594px;
    height: 592px;
}

#para1{
    position: absolute;
    left: 3px;
    top: 235px;
    color: white;
    width: 77%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Button styling       */

#btncontact{
    position: absolute;
    top: 595px;
    left: 52px;
    width: 141px;
    height: 43px;
    margin: 4px;
    border: 2px solid cyan;
    color: black;
    font-family: 'Righteous', cursive;
    background-color: cyan;
    z-index: 4;
}

#btnknow{
    position:absolute;
    top: 595px;
    left: 221px;
    width: 141px;
    height: 43px;
    margin: 4px;
    background: transparent;
    border: 2px solid cyan;
    color: white;
    font-family: 'Righteous', cursive;
    z-index: 4;
}

.cursor {
      pointer-events: none;
      position: fixed;
      padding: 0.3rem;
      background-color: #fff;
      border-radius: 50%;
      mix-blend-mode: difference;
      transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
      transform: translate(-50%, -50%) scale(8);
}

#btncontact:hover{
    background-color:black;
    color: white;
}

.cursor {
      pointer-events: none;
      position: fixed;
      padding: 0.3rem;
      background-color: #fff;
      border-radius: 50%;
      mix-blend-mode: difference;
      transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
      transform: translate(-50%, -50%) scale(8);
}


#btnknow:hover{
    background-color: tomato;
    border: 2px solid tomato;
}

.cursor {
      pointer-events: none;
      position: fixed;
      padding: 0.3rem;
      background-color: #fff;
      border-radius: 50%;
      mix-blend-mode: difference;
      transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
      transform: translate(-50%, -50%) scale(8);
}


    /* removing hamburger icon from big screen devices    */
.burger{
    display: none;
}
