#follow i{
    font-size:18px ;
    right: 12px;
}

#follow{
    top: 155px;
    right: 6px;
}
#vl{
    right: 14px;
} 

.burger{
    display: revert!important;
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 5;
}

.burger div{
    background-color: white;
    width: 20px;
    height: 3px;
    margin: 4px;
}

#nav{
    top: 150px;
}
#container{
    overflow-x:hidden;
}
.navbar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 322px;
    height: 100vh;
    z-index: 5;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;

}

.navbaract{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 322px;
    height: 100vh;
    z-index: 5;
    transition: transform 0.5s ease-in;
    transform: translateX(-0%);
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    animation: anime 2s linear ;
}

@keyframes anime {
    0%{
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    100%{
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
    }
    
}

#nav ul{
    display: flex;
    flex-direction: column;
    
}
#nav ul li{
    height: unset;
    width: unset;
    align-self: center;
    margin-bottom: 48px;
}

#nav ul li {
    opacity: 1;
}

#nav ul li a:hover{
    color: white;
}




#hello{
    font-size: 15px;
    left: 1px;
}

#me{
    font-size: 23px;
    top: -3px;
}

#webdev{
    top: -8px;
    font-size: 38px;
}

#para1 {
    font-size: 10px;
    width: 88%;
    top: 170px;
}

#btncontact{
    top: 505px;
}

#btnknow{
    top: 505px;
}

#pic img{
    right: -96px;
    opacity: 0.5;
}
